apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment-example
spec:
  replicas: 5
  selector:
    matchLabels:
      app: nginx
      environment: test
  template:
    metadata:
      labels:
        app: nginx
        environment: test
    spec:
      nodeName: aks-nodepool1-77120516-vmss000000 
      containers:
      - name: nginx
        image: nginx:1.17
        ports:
        - containerPort: 80
